$primary: #2f4ab0;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  a {
    color: #333;
    margin-right: 20px;
  }

  a:hover {
    color: #000;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
}

.logo {
  color: $primary;
  font-size: 20px;
  text-transform: uppercase;
  a {
    color: $primary;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
